/* Global styles for the home page */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #ffb6c1, #e84393);
    color: #000; /* Black text color */
  }
  
  .header-container {
    background-color: rgba(255, 255, 255, 0);
    padding: 10px 20px;
    position: relative;
    z-index: 1000;
    border-bottom: 1px solid #000;
  }
  
  .header-container nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    max-width: 80px; /* Adjusted logo size */
    height: auto;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    margin: 0 10px; /* Adjusted spacing between navigation items */
  }
  
  nav ul li a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    font-size: 1.0em; /* Adjusted font size for navigation links */
  }
  
  /* Main content styles */
  .main-content {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Align items at the top */
    min-height: calc(100vh - 60px); /* Adjust height to account for header */
    padding: 20px;
  }
  
  .image-container {
    padding: 20px;
  }
  
  .image-container img {
    max-width: 80%;
    height: auto;
    /* Remove box shadow and any other effects */
  }
  .pop-out-box {
    background-color: rgba(241, 164, 185, 0.9); /* White background with slight opacity */
    border-radius: 10px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); /* Pop-out shadow effect */
    padding: 20px;
    max-width: 40%; /* Adjusted width */
    width: 100%;
  }
  
  .pop-out-box h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .horizontal-form {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
  }
  
  .form-group {
    margin-bottom: 10px;
  }
  
  .symptom-question {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .symptom-question input[type="checkbox"] {
    margin-right: 10px;
  }
  
  .form-group button {
    padding: 10px 20px;
    font-size: 1em;
  }
  /* Separate footer box styles */
.footer-container {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    text-align: center;
    align-self: center; /* Center horizontally */
    margin-top: auto; /* Push to the bottom */
  }
  
  .footer-content {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .footer-content p {
    margin-bottom: 10px;
  }
  
  .footer-content input[type="file"] {
    margin-bottom: 10px;
  }
  
  /* Media Queries for Responsiveness */
  @media (max-width: 768px) {
    .main-content {
      flex-direction: column;
      align-items: center; /* Center items vertically */
    }
  
    .pop-out-box {
      max-width: 100%;
    }
  
    .horizontal-form {
      flex-direction: column;
    }
  
    .form-group {
      width: 100%;
    }
  
    .form-group button {
      width: 100%;
    }
  }
  